.weather-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.weather-container.Rain,
.weather-container.Clouds,
.weather-container.Mist {
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

.weather-container.Snow {
  background: linear-gradient(to bottom, white, rgb(233, 232, 232));
}

.weather-container {
  background-image: url(../public/Sun.jpg);
}

.weather-container.Rain { background-image: url(../public/Rain.jpg); }
.weather-container.Clear { background-image: url(../public/Clear.jpg); }
.weather-container.Clouds { background-image: url(../public/Clouds.jpg); }
.weather-container.Mist { background-image: url(../public/Mist.jpeg); }

@media (min-width: 768px) {
  .weather-container {
    padding-top: 0;
  }

  .forecast-containers {
    display: flex;
    gap: 30px;
  }
}
