.city-weather-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(205, 205, 205, 0.3);
    padding: 30px 80px;
    border-radius: 12px;
}

.city-weather-container .date{
    font-size: 12px;
}

.city-weather-container .weather{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.min-max-temp{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}